## **Functions**
* Functions are block of code which is written throughout the program.
* It Inhance the readability &  reusability of a Program.
* Once a function is defined we can use as many times we want.
* `def` keyword is used to define a Function.
* It consist of logical statement and through it whatever output is gained it is returned through  `return` keyword.

In [2]:
def test1():        #defining a sample function
    print("Hii! This is the First Function")

In [3]:
test1()             #calling the function (Function Call)

Hii! This is the First Function

* Here is a point to note that the result which we are getting is of `NoneType` this is because of the print statement.
* The `print` statement always used to return a NoneType.

In [6]:
type(test1())

Hii! This is the First Function

NoneType

* This also points that if we want to concatenate with the output it show show an Error

In [5]:
test1() + "GAurav"      #It shows that nonetype and string can't be concatenated

Hii! This is the First Function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

* The solution to this is to use `return` keyword instead of `print` statement.

In [17]:
def test2():
    return 'Hello Guyz!! '

In [18]:
test2()

'Hello Guyz!! '

In [11]:
type(test2())       #here we can see the type of test2 function is 'str'

str

In [19]:
# And hence we can concatenate with a string
test2() + "Welcome"

'Hello Guyz!! Welcome'

In [13]:
# Through return keyword we can return more than 1 values.

def test3():
    return 3, 4, 8.6, 1, 'gaurav'

In [14]:
test3()         # it returns all the values in a tuple.

(3, 4, 8.6, 1, 'gaurav')

In [26]:
type(test3())

tuple

In [25]:
# As we saw it return in a form of tuples, so we can extract the elements of the result.
# We can also perform the functions which are allowed in tuples.

test3()[-1]

'gaurav'

In [29]:
test3()[0]          #extracting the element of 0th index

3

In [23]:
test3().count(1)

1

In [28]:
test3().index(1)

3

### Actual and Formal Parameter
* At the time of creation of a function we may required some variable to be used in the function, so we pass the parameters with the function defination, these are ***Formal Parameters***
* When we call that function form anywhere of the program at that time we pass the dataset or parameter at function calling, those are ***Actual Parameters***

Below is the example to understand well:-

In [37]:
def func(n1,n2):        #here n1 & n2 are Formal Parameter 
    result = n1 + n2
    return result

a=2
b=6
func(a,b)        #and a & b are Actual Pararmeter. Here value of a and b is copied to n1 and n2.

8

In [38]:
func('Gaurabh',' Chowdhury')        #We can try it with other datatypes

'Gaurabh Chowdhury'

In [39]:
func([1,5,9],[7,5,3])

[1, 5, 9, 7, 5, 3]

Create a function which will take list as a input and give me a final list with all the numeric value

In [2]:
def numeric(l):
    num = []
    for i in l:
        if type(i) == int or type(i) == float:
            num.append(i)
    return num

list = [1,5,'Python','Java','R',89,15,9.5,'Data Mining']

numeric(list)
# print(result)

[1, 5, 89, 15, 9.5]

In [1]:
# This would work for nested list.
def numeric_attr(l):
    num_list = []
    for i in l:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    num_list.append(j)
        else:
            if type(i) == int or type(i) == float:
                num_list.append(i)

    return num_list


l1 = [4,5, 'Python', 'Java', 'R', [9.9,99,9]]

numeric_attr(l1)
# print(r)

[4, 5, 9.9, 99, 9]

### *args 
* When we are unaware of the number of argument during function defination.
* We use `*args` keyword in the function defination
* During function Call we pass as many arguments we need.

In [2]:
def test9(a,b,c,d,e):
    pass

In [3]:
test9(1,2,3,4,5)

In [5]:
test9(1,2,3,4,5,6)                  #more than 5 argument

TypeError: test9() takes 5 positional arguments but 6 were given

##### Some points to Remember:
* `*args` consider `nth` number of argument (*args* can be anything).
* `*` indicates any number of arguments.
* `args` hold all the data as Tuples

In [86]:
def test11(*args):  
    return args

In [87]:
test11(1,5,9)

(1, 5, 9)

In [12]:
test11(9.7,8,6,4,5,3,21)

(9.7, 8, 6, 4, 5, 3, 21)

In [88]:
test11(["list"],4,5,4.97,8,('tuple'),{'set',9.9,8.15})

(['list'], 4, 5, 4.97, 8, 'tuple', {8.15, 9.9, 'set'})

In [13]:
def n(*gaurav):
    return gaurav

In [14]:
n(1,3,26,5,4)

(1, 3, 26, 5, 4)

In [15]:
def test13(*args , a):      #explicitly defining a variable
    return args,a

In [17]:
test13(1,1,5,8)     #we have to seprately mention the value of a or else it will consider the data as of *args.

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [18]:
test13(9,8,6,a="Gaurabh")

((9, 8, 6), 'Gaurabh')

In [24]:
# Create a function that will seperate all the list from the data.
def sep_list(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

sep_list(1,2,6,['hello','world',4,98,7],('data','science','course'),[99,66,44,77])

[['hello', 'world', 4, 98, 7], [99, 66, 44, 77]]

### **kwargs:
* It takes `n` number of key-value pair.
* `**` indicates it will take the input as a key-vale pair such as Dictionary

In [35]:
def test8(**kv):
    return kv

In [36]:
test8()     #it will return a empty dictionary

{}

In [37]:
type(test8())

dict

In [38]:
test8(a=34, b=79, c=55, l=[1, 5, 9, 'java'],t=('hello', 44, 9))  #it returns a dictionary as a key-value pair.

{'a': 34, 'b': 79, 'c': 55, 'l': [1, 5, 9, 'java'], 't': ('hello', 44, 9)}

In [82]:
# Fetching the key which of string type
def dct(**k):
    for i in k.keys():
        if type(i) == str:
            print(f"{i} : {k[i]}")

dct(a=34, b=79, c=55, l=[1, 5, 9, 'java'],t=('hello', 44, 9))

a : 34
b : 79
c : 55
l : [1, 5, 9, 'java']
t : ('hello', 44, 9)

In [83]:
# Fetch the list from the key.
def dct(**k):
    for i in k.keys():                      # 'i' is the keys
        if type(k[i]) == list:              # k[i] is the value of a key
            print(f"{i} : {k[i]}")           # k.get(i) will fetch the values according to the key


dct(a=34,
    b=79,
    c=55,
    l=[1, 5, 9, 'java'],
    t=('hello', 44, 9),
    l1=[99, 77, 55, 11, 33])

l : [1, 5, 9, 'java']
l1 : [99, 77, 55, 11, 33]

### Generator Function:
* It does'nt hold the data into the memory, it computes one-by-one data then returns it and so on.
* It is memory Efficient.
* `yield` keyword is used in generator function,

In [3]:
def gen(n):
    while n <= 10:
        yield n
        n += 1


g = gen(5)
print(g, end='\n\n')  #it only returns a generator object.
for i in g:  #to use it we have to use it through iteration.
    print(i)

<generator object gen at 0x000001E9BC358940>

5
6
7
8
9
10

In [6]:
# Fibonacci Series:
# 0,1,1,2,3,5,8,13,21,34
def fibo(n):
    a,b = 0,1
    for i in range(n):
        yield a
        a,b = b,a+b

f = fibo(10)
for i in f:
    print(i,end=' ')

0 1 1 2 3 5 8 13 21 34