### **Tuples**
* Tuples is another Data Structure in Python after Lists.
* Tuple is a sequence of `immutable` objects, which is once we define the values in tuples we can't change it.
* The data is tuples are inclosed within a parentheses `()`.

#### Creating a Tuple

In [14]:
tup = ()        #creating a empty tuple
print(type(tup))

<class 'tuple'>

In [15]:
t = (5)     #Wrong way to creating a tuple with single element. Without the comma python takes it as a ordinary data type.
print(type(t))

t1 = (5,)   #Correct way for creating a single element tuple.
print(type(t1))

<class 'int'>
<class 'tuple'>

In [16]:
# A Tuple can contain an integer, a string, a boolen, a float, a character values
tup1 = (1,2,"tuples",True,15.9,'a','e')
print(tup1)

(1, 2, 'tuples', True, 15.9, 'a', 'e')

In [17]:
# We can access the element of a tuple similar to lists.
tup1[2]

'tuples'

In [18]:
tup1[1:4]

(2, 'tuples', True, 15.9)

In [19]:
tup1[::-1]  #Reversing a Tuple

('e', 'a', 15.9, True, 'tuples', 2, 1)

In [20]:
# As we know Tuples are immutable object, item assignments is not allowed
tup1[3]=99

TypeError: 'tuple' object does not support item assignment

### In-built Function in Tuples

Tuples support only two Function:
> * .count(): It counts the occurrence of a particular value
> * .index(): It returns the first index of a particular value. If the value is not found it raise an Error

In [21]:
# count() function:
t1 = (1,5,6,7,8,9,4,6,5,1,6,8,7,8,7,6,5,1,5)
t1.count(5)     #it returns the occurrence of 5 in tuple

4

In [22]:
t1.count(True)      #As we can we there is not True  value in tuple but it returns 3, the reason behind is that internally python takes all 0's and 1's as False and True respectively and vice-versa.

3

In [23]:
# index() function:
t1.index(9)     #It returns the first index of the value.

5

In [24]:
t1.index(99)    #if inputed value is not present it raise an error

ValueError: tuple.index(x): x not in tuple

In [25]:
# Accessing element one by one with its type.
for i in tup1:
    print(i," : ",type(i))

1  :  <class 'int'>
2  :  <class 'int'>
tuples  :  <class 'str'>
True  :  <class 'bool'>
15.9  :  <class 'float'>
a  :  <class 'str'>
e  :  <class 'str'>

In [26]:
# We can find min and max value of a tuple
max(t1)

9

In [27]:
min(t1)

1

In [28]:
t1 = (1,2,3,4,5)
t1 + (99)   #Wrong way to concatenate

TypeError: can only concatenate tuple (not "int") to tuple

In [29]:
t2 = (10, 9, 8, 7, 6)
t1 + t2     #We can only concate a tuple with tuple only

(1, 2, 3, 4, 5, 10, 9, 8, 7, 6)

In [30]:
t3 = (t1,t2)        #We can create a tuple with a tuple
t3

((1, 2, 3, 4, 5), (10, 9, 8, 7, 6))

In [31]:
l1 = [11,22,33,44,55]
t4 = (t1,l1)        #We can keep a list within a tuple
print(t4)

((1, 2, 3, 4, 5), [11, 22, 33, 44, 55])

In [32]:
t4[1][-1] = 99
t4

((1, 2, 3, 4, 5), [11, 22, 33, 44, 99])

### **Sets**
* A Set is a collection of data which is unordered and unindexed
* In Python Sets are written within curly brackets `{}`
* Sets does'nt allow duplicates value

In [218]:
s={1,2,3,5}     #A Set
type(s)

set

In [220]:
s1={1,5,5,9,1,2,3,1,4,7,9,2,8,7}    #void of Duplicate values
print(s)

{1, 2, 3, 5}

In [273]:
# If we want to remove any duplicate values from tuple or list just we need to typecast to set.add

l1 = [2,1,3,5,4,9,8,7,6,5,1,3,2,6,8,7]
t1 = (1,1,2,3,4,4,5,6,7,8)

set(t1)     #duplicate removed form tuples.

{1, 2, 3, 4, 5, 6, 7, 8}

In [274]:
set(l1)     #duplicates removed form lists.

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [226]:
s2 = {(1,2,6),'Gaurav',77,55,66}    #Only tuples are allowed within a set because of hasibility.

In [229]:
# As sets are unindexed so we can't accessed its element.
s2[2]

TypeError: 'set' object is not subscriptable

In [232]:
# Accessing each element:
for i in s2:
    print(i)

Gaurav
66
55
(1, 2, 6)
77

In [272]:
# We can find the length of the set through len() function
len(s2)

5

### In-built Function in Sets:

#### .add(Element): This function adds the element to the set.

In [258]:
s3={4,65,13,2,'Gaurabh'}

In [259]:
s3.add('Chowdhury')     #add the element randomly
s3

{13, 2, 4, 65, 'Chowdhury', 'Gaurabh'}

#### .pop(Element): It returns the removed element from the end of the set, but the user is unaware of the removed element.

In [260]:
s3.pop()    #removes the element

65

In [261]:
s3

{13, 2, 4, 'Chowdhury', 'Gaurabh'}

In [268]:
s3.clear()      #it clear or erase the complete set

In [269]:
s3

set()

#### .update() To add more than one element we `.update()` method. We firstly create a list of element to insert update it to the set.

In [270]:
s4 = {1,5,9}
s4.update(['Value1','Value2','Value3'])

In [271]:
s4

{1, 5, 9, 'Value1', 'Value2', 'Value3'}

### .remove() & .discard() methods in Python

* To remove a Particular element from set we use .remove() or .discard()
* The key difference between them is:
> * If the element we want to remove does'nt exists *.remove()* will raise an error, while *.discard()* won't raise any error.

In [284]:
s5 = {1,5,9,'Python',7,'Machine Learning',5,3}

In [285]:
s5.remove('Python')
s5

{1, 3, 5, 7, 9, 'Machine Learning'}

In [286]:
s5.remove('Data Mining')    #It will raise an Error

KeyError: 'Data Mining'

In [287]:
s5.discard(5)
s5

{1, 3, 7, 9, 'Machine Learning'}

In [289]:
s5.discard(99)  #Eventhough the element is not present it does'nt raise an Error

#### .difference(): It returns the difference between two or more sets.

In [298]:
s11 = {1,2,3,4}
s12 = {1,2,3,5}

s11.difference(s12)     #it checks which element is present in s11 but not in s12.

{4}

#### .union(): It returns the set containing all elements of both sets

In [299]:
s11.union(s12)  #it merges both the sets

{1, 2, 3, 4, 5}

#### .intersection(): It returns a set with element common to both the set

In [304]:
s11.intersection(s12)   #it returns the common element

{1, 2, 3}

## **Dictionary**

In [34]:
d={}                    #empty Dictionary
type(d)

dict

In [67]:
d1 = {'name':"Gaurabh",'Ph.no':789754321,'Email Id':'example@gamil.com'}    #Dictionary
d1

{'name': 'Gaurabh', 'Ph.no': 789754321, 'Email Id': 'example@gamil.com'}

### Properties of a key in dictionary:
* A key should always be UNIQUE.
* Repitation of key is not allowed.
* A key can be interger,floating number,String,boolean value but not Special Character (#,$,@...).
* A key can only consider TUPLE.

In [36]:

d2 = {'name':"Gaurabh",'name':"Gaurav"}     #here name is present twice so name variable is assigned with 'Gaurav'
d2

{'name': 'Gaurav'}

In [37]:
d3 = {[1,2,3]:"Values"}             #a list can't be a key
d3

TypeError: unhashable type: 'list'

In [38]:
d4 = {(1,5,9): 'Values'}        # tuple is allowed as a key
d4

{(1, 5, 9): 'Values'}

In [39]:
d5 = {{'name':'Gaurabh'}:True}
d5

TypeError: unhashable type: 'dict'

In [40]:
d6={'Key':(1,5,9)}
d6

{'Key': (1, 5, 9)}

In [41]:
d7={'Key':[1,5,9]}
d7

{'Key': [1, 5, 9]}

In [42]:
d8 = {'Class 1': {1: "Std1", 2: "Std2", 3: "Std3"}}
d8

{'Class 1': {1: 'Std1', 2: 'Std2', 3: 'Std3'}}

In [43]:
d9 = {'Class 1': {1: {'name':'Std1','Mb no-':1234567,'Address':'jfasoeif'}, 2: "Std2", 3: "Std3"}}
d9

{'Class 1': {1: {'name': 'Std1', 'Mb no-': 1234567, 'Address': 'jfasoeif'},
  2: 'Std2',
  3: 'Std3'}}

In [44]:
# Nested Dictionary

d10 = {
    'Class 1': 
                {1: {'name': 'Std1', 'Ph no-': 123489875, 'Address': 'asdflh'},
                2: {'name': 'Std2', 'Ph no-': 977454475, 'Address': ',zxcmvn'},
                3: {'name': 'Std3', 'Ph no-': 119876575, 'Address': 'qweriu'}},
    'Class 2': 
                {4: {'name': 'Std4', 'Ph no-': 123987875, 'Address': 'poiyre'},
                5: {'name': 'Std5', 'Ph no-': 98746515, 'Address': 'lkjgh'},
                6: {'name': 'Std6', 'Ph no-': 75335798, 'Address': 'mnbvc'}},
}
d10

{'Class 1': {1: {'name': 'Std1', 'Ph no-': 123489875, 'Address': 'asdflh'},
  2: {'name': 'Std2', 'Ph no-': 977454475, 'Address': ',zxcmvn'},
  3: {'name': 'Std3', 'Ph no-': 119876575, 'Address': 'qweriu'}},
 'Class 2': {4: {'name': 'Std4', 'Ph no-': 123987875, 'Address': 'poiyre'},
  5: {'name': 'Std5', 'Ph no-': 98746515, 'Address': 'lkjgh'},
  6: {'name': 'Std6', 'Ph no-': 75335798, 'Address': 'mnbvc'}}}

In [45]:
# A dictionary with list,tuple and sets
d11 = {
    'Course_Name': ['DBMS', 'Java', 'Data Mining'],
    'Course_Code': ('CC-11', 'CC12', 'DSE-A2'),
    'Mentor_Name': {'SH', 'PB', 'SD'},
}
d11

{'Course_Name': ['DBMS', 'Java', 'Data Mining'],
 'Course_Code': ('CC-11', 'CC12', 'DSE-A2'),
 'Mentor_Name': {'PB', 'SD', 'SH'}}

In [46]:
# Item assignment is possible in Dictionary
d11['Timing']= (10, 12, 1)      #assigning a key-value pair

In [47]:
d11

{'Course_Name': ['DBMS', 'Java', 'Data Mining'],
 'Course_Code': ('CC-11', 'CC12', 'DSE-A2'),
 'Mentor_Name': {'PB', 'SD', 'SH'},
 'Timing': (10, 12, 1)}

In [48]:
d8

{'Class 1': {1: 'Std1', 2: 'Std2', 3: 'Std3'}}

In [49]:
d8['Class 1'][1]

'Std1'

In [50]:
d8['Key1'] = "ABC"      #inserting a key-value pair

In [51]:
del d8['Key1']          #deleting a particular key-value pair
d8

{'Class 1': {1: 'Std1', 2: 'Std2', 3: 'Std3'}}

In [52]:
d6

{'Key': (1, 5, 9)}

### Dictionary Methods

In [53]:
d6.clear()              #clearing the element in a dictionary
d6

{}

In [54]:
len(d11)                #length of a dictionary

4

In [128]:
d11["Student_Name"] = "Gaurabh Chowdhury"

In [131]:
d11

{'Course_Name': ['DBMS', 'Java', 'Data Mining'],
 'Course_Code': ('CC-11', 'CC12', 'DSE-A2'),
 'Mentor_Name': {'PB', 'SD', 'SH'},
 'Timing': (10, 12, 1),
 'Student_Name': 'Gaurabh Chowdhury'}

In [135]:
d11['Student_Name'].upper()     #it convert the string to upper case

'GAURABH CHOWDHURY'

In [55]:
d11.items()             #it prints all the key and values

dict_items([('Course_Name', ['DBMS', 'Java', 'Data Mining']), ('Course_Code', ('CC-11', 'CC12', 'DSE-A2')), ('Mentor_Name', {'SD', 'PB', 'SH'}), ('Timing', (10, 12, 1))])

In [56]:
list(d11.items())       #printing items in list form

[('Course_Name', ['DBMS', 'Java', 'Data Mining']),
 ('Course_Code', ('CC-11', 'CC12', 'DSE-A2')),
 ('Mentor_Name', {'PB', 'SD', 'SH'}),
 ('Timing', (10, 12, 1))]

In [57]:
it = d11.items()        #printing items in different way
for i in it:
    print(i)

('Course_Name', ['DBMS', 'Java', 'Data Mining'])
('Course_Code', ('CC-11', 'CC12', 'DSE-A2'))
('Mentor_Name', {'SD', 'PB', 'SH'})
('Timing', (10, 12, 1))

In [58]:
d11.keys()              #accessing the keys of dictionary

dict_keys(['Course_Name', 'Course_Code', 'Mentor_Name', 'Timing'])

In [59]:
d11.values()            #accessing the values of dictionary

dict_values([['DBMS', 'Java', 'Data Mining'], ('CC-11', 'CC12', 'DSE-A2'), {'SD', 'PB', 'SH'}, (10, 12, 1)])

In [81]:
# Removing the items form dictionary

print(f"Deleting the 'Ph.no' value: {d1.pop('Ph.no')}")     #removing the Ph.no record and shows its value after deleting it
print(d1)

Deleting the 'Ph.no' value: 789754321
{'name': 'Gaurabh', 'Email Id': 'example@gamil.com'}

In [82]:
print(f"Last record is Deleted: {d1.popitem()}")     #removes the last record and shows the deleted record
print(d1)

Last record is Deleted: ('Email Id', 'example@gamil.com')
{'name': 'Gaurabh'}

In [85]:
del d1['name']      #it removes the 'name' record
print(d1)

{}

In [86]:
del d1

In [87]:
d1

NameError: name 'd1' is not defined

In [102]:
# .setdefault() method:
# It returns the value of a key
# If a key is not present it creates with default value
d_new = {'R1':'Arun','R2':'Gaurav','R3':'Yash'}
d_new.setdefault('Topics',['ML','DP','DM'])

['ML', 'DP', 'DM']

In [103]:
d_new

{'R1': 'Arun', 'R2': 'Gaurav', 'R3': 'Yash', 'Topics': ['ML', 'DP', 'DM']}

In [105]:
d23 = d_new.copy()      #it copies the content of a dictionary to a new dictionary.They both have different memory address which ensures that if in future if we change the original dictionary then its copy won't be affected.

In [106]:
d23

{'R1': 'Arun', 'R2': 'Gaurav', 'R3': 'Yash', 'Topics': ['ML', 'DP', 'DM']}

In [153]:
# Merging two Dictionary
dict1 = {'key1': 'Value1', 'key2': 'Value2'}
dict2 = {'key3': 'Value3', 'Key4': 'Value4'}

In [140]:
dict1.update(dict2)         #dict2 is merge with dict1 and store in dict1

In [141]:
dict1

{'key1': 'Value1', 'key2': 'Value2', 'key3': 'Value3', 'Key4': 'Value4'}

In [142]:
dict2

{'key3': 'Value3', 'Key4': 'Value4'}

### .get() method

* As we have discussed earlier, that `D['Key']`
this statement returns the corresponding value. We have a method similar to this i.e., get() method.
* It simply returns the value of that key.
* **.get() and D['Key']** are similar to each other. Only the difference is that
> * when we find a key which is not present in the dictionary  `.get()` does'nt raise an error but `D['Key']` raise an error.

In [149]:
dict1.get('key1')       #it returns the value corresponding to that

'Value1'

In [150]:
dict1.get('key16')      #Did'nt raise error when a key is not present

In [157]:
dict2['key1']           #Raises an Error

KeyError: 'key1'

In [158]:
dict1['key1']

'Value1'

### Dictionary Comprehension

In [160]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [178]:
d_sq = {i : i**2  for i in range(1,11)}    #Printing the square from (1-10)
print(d_sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [215]:
{i : d_sq[i] if i%2 == 0 else 'ODD' for i in d_sq.keys()}       #fetching even number square

{1: 'ODD',
 2: 4,
 3: 'ODD',
 4: 16,
 5: 'ODD',
 6: 36,
 7: 'ODD',
 8: 64,
 9: 'ODD',
 10: 100}

In [199]:
# Fetching the even number squares only
for i in d_sq.keys():
    if i%2 == 0:
        print(i," : ",d_sq[i])

2  :  4
4  :  16
6  :  36
8  :  64
10  :  100

### .fromkeys() method: 
* It creates a new dictionary with keys iterable
* It maps the key with its value

In [109]:

seq = (1,2,3,4,5)
list = [-1]

dict1.fromkeys(seq,list)

{1: [-1], 2: [-1], 3: [-1], 4: [-1], 5: [-1]}

In [110]:
d_main = {
    'd_new': {'R1': 'Arun', 'R2': 'Gaurav', 'R3': 'Yash'},
    'd_new1': {'R4': 'Govind', 'R5': 'Harsh', 'R6': 'Hardik'},
    'd_new2': {'R7': 'Varun', 'R8': 'Umesh', 'R9': 'Chirag'}
}

d_main

{'d_new': {'R1': 'Arun', 'R2': 'Gaurav', 'R3': 'Yash'},
 'd_new1': {'R4': 'Govind', 'R5': 'Harsh', 'R6': 'Hardik'},
 'd_new2': {'R7': 'Varun', 'R8': 'Umesh', 'R9': 'Chirag'}}