## Lambda Function
* It is also called *Anonymous* function because it does'nt have its own name and it is not declared with `def` keyword like other function.
* They are created through `lambda` keyword.
* Its Syntax:
>                                 lambda arguments: expression
* Its like a *one-line* version of a function.
* They can't access other variable other than the defined arguments.

In [14]:
n = 3
p = 2

def test(n,p):              #normal way of defining a function
    return n**p

test(n,p)

9

In [15]:
a = lambda n,p: n**p        #power of a number

In [4]:
a(5,2)

25

In [6]:
add = lambda x,y : x+y          #addition of two number.

add(59,5)

64

In [16]:
# celsius to farhrenheit conversion
c_to_f = lambda c : (9/5)*c+32
c_to_f(34)

93.2

In [17]:
# find the maximum number between two numbers

max = lambda x,y: x if x > y else y
max(87,4)

87

In [49]:
l=[5,4,3,2,1]
sq_list = [lambda i=x: i**2 for x in l]

for j in sq_list:
    print(j())

25
16
9
4
1

In [10]:
s= "Gaurabh"
len_St = lambda s : len(s)          #calculating the length of a function.

len_St(s)

7

## Map Function:
* It takes each any every element of the iterables and maps with the function to perform the task.

In [3]:
def lst(l):                 #Traditional way of doing the square of each element.
    l1 = []
    for i in l:
        l1.append(i**2)
    return l1
l = [1,2,3,4,5]
lst(l)

[1, 4, 9, 16, 25]

In [4]:
l = [1,2,3,4,5]         #Using map function we can do our more easily.
def sq(x):
    return x**2

list(map(sq,l))

[1, 4, 9, 16, 25]

In [5]:
l = [1,2,3,4,5]         #By Using map and lambda function we make the code more easy.

list(map((lambda x : x**2 ),l))

[1, 4, 9, 16, 25]

In [7]:
x=[1,2,3,4,5]
y=[5,6,7,8,9]

list(map((lambda x,y: x+y),x,y))

[6, 8, 10, 12, 14]

In [2]:
s='Python'
list(map((lambda i : i.upper()),s))

['P', 'Y', 'T', 'H', 'O', 'N']

## Reduce Function
* It takes first function as function and second as iterables

In [8]:
from functools import reduce

In [14]:
l = [1, 2, 3, 4, 5, 6, 7]               #Summation of list.
reduce(lambda x, y: x+y, l)

28

In [15]:
l1 = [5, 4, 3, 9, 2, 1]         #Finding the maximum out of the list
reduce(lambda x, y: x if x > y else y, l1)

9

## Filter Function:

In [21]:
list(filter(lambda x : x % 2 == 0 , l))

[2, 4, 6]

In [24]:
l2 = [-9, 8, -74, 6, 5, -1, -2, 3]
list(filter(lambda x: x >= 0, l2))

[8, 6, 5, 3]

In [28]:
t = ('Gaurabh', 85, 'Chirag', 79, 'Ayush', 97)

tuple(filter(lambda x: type(x) is int, t))

(85, 79, 97)

In [34]:
lst = ['India','Australia','Sri Lanka','UAE','Bangladesh','USA','China','Israel']
list(filter(lambda c : len(c) < 6 , lst))

['India', 'UAE', 'USA', 'China']