## **List**
* List is a order collection of List
* Lists are Mutable

In [2]:
l=[]        #Empty list
type(l)

list

In [12]:
l=[1,2,3,45,"python",2.3]   #defining a list
print(l)

[1, 2, 3, 45, 'python', 2.3]

In [7]:
str = "Gaurabh"
list(str)           #it splits the string character by character

['G', 'a', 'u', 'r', 'a', 'b', 'h']

In [21]:
str1 = "Data Science Master Course"
l1 = str1.split(' ')                #it splits a string baseed on the whitespace
print(l1)

['Data', 'Science', 'Master', 'Course']

In [22]:
l1[2]   #reading inside the list

'Master'

In [23]:
l1[1:]

['Science', 'Master', 'Course']

In [26]:
# As we know list are mutable so we can assign items in list
l1[-1] = "Program"
l1

['Data', 'Science', 'Master', 'Program']

In [30]:
# List Concatenation
l1 + ["new element",6]  #the new list is concatinated at the end of the list

['Data', 'Science', 'Master', 'Program', 'new element', 6]

In [33]:
# Nested Concatenation operation
lst = l1 + [["new element",6]]
lst

['Data', 'Science', 'Master', 'Program', ['new element', 6]]

In [35]:
lst[-1][0]      #accessing the nested list

'new element'

In [39]:
l1 *2   #repeating all the element twice

['Data',
 'Science',
 'Master',
 'Program',
 'Data',
 'Science',
 'Master',
 'Program']

In [46]:
# check whether a particular element is present or not:
for i in l1:
    if "Science" in i:
        print(i)
        break

Science

### List Methods

In [1]:
list1 = ["Mango","Apple","JackFruit","Banana"]
list2 = [4,5,6,7,8,9,1]

In [53]:
# max() method
print(max(list1))   #It calculate the ASCII code of every element's first character
print(min(list1))

Mango
Apple

In [52]:
print(max(list2))       #It just simply find out the maximum element
print(min(list2))

9
1

.append() function: 
* Its an inplace operation is lists.
* It simply adds the element at the end of the list.

In [56]:

l1 = [1, 2, 3, 4, 5]
l1.append("new")        # adding element
l1

[1, 2, 3, 4, 5, 'new']

.insert() function:
* Through this function we can insert any element in a desired location
* Its an inplace Operation

In [14]:
n1_list=[7,8,4,5,1,2]
n1_list.insert(2,"Two")     #'Two' is inserted at index 2.
n1_list

[7, 8, 'Two', 4, 5, 1, 2]

.pop() function: 
* It is also a inplace operation, it just remove the last element of the list.

In [2]:

removed_element = list1.pop()       #storing the removed element
removed_element

'Banana'

In [3]:
# We can pop our desired element
list1.pop(1)        #element at the first index is removed
list1

['Mango', 'JackFruit']

Sorting a list:
> .sort()
* Its an inplace operation.
* It simply sorts the list in ascending or descending order

In [5]:
n_list = ['e','t','u','z','b','h']
n_list.sort()   #by default it sorts the list in ascending order
n_list

['b', 'e', 'h', 't', 'u', 'z']

In [10]:
n_list.sort(reverse=True)     #sorting the list in descending order
n_list

['z', 'u', 't', 'h', 'e', 'b']

Reversing a list:
* .reverse() function is used to reverse a list

In [11]:
new_list = [1,5,9,7,5,3]
new_list.reverse()  #it simply reverse the list
new_list

[3, 5, 7, 9, 5, 1]

.extend() function:
* It takes the nested list and adds to the end but not in nested list form.

In [16]:
lst = [1,5,9]
lst.extend(['Data','Science'])
lst.append(['Master','Course'])
lst

[1, 5, 9, 'Data', 'Science', ['Master', 'Course']]

#### Nested List

In [20]:
list_1=[1,2,3]
list_2=[4,5,6]
list_3=[7,8,9]

matrix = [list_1,list_2,list_3]     #collection of three lists
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
matrix[:][:]    #the whole matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [31]:
matrix[-1][-1]  #last list last element

9

In [35]:
matrix[1][::-1]     #2nd list in reverse order

[6, 5, 4]

In [37]:
matrix[::-1]        #the whole matrix in reverse order

[[7, 8, 9], [4, 5, 6], [1, 2, 3]]

#### List Comprehension:-
* It is used to create a list in a concise way.
* This list is created by appling a certain operation on each element of the list.

In [39]:
[i for i in range(21)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [42]:
# Cubes of number till 20
cubes = [i**3 for i in range(21)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [ ]:
# Finding even elements within a range
[("Even: ",i) if i%2 == 0 else ("Odd: ",i) for i in range(21)]

In [70]:
# Printing odd and even number sum
l = [1, 2, 3, 4, 5, 6, 7, 8]

even_sum = sum([i for i in l if i%2 == 0])
print(even_sum)
odd_sum = sum([i for i in l if i%2 != 0])
print(odd_sum)

20
16

In [72]:
# Create a list which contain only positive value from a given list
list = [-4,6,-8,-1,3,7,0]
positive_list=[i for i in list if i > 0]
print(positive_list)

[6, 3, 7]

In [74]:
# Create a list that contain only the first word of a letter
word_list = ['Apple','Mango','Human','Cricket','Bat']
[word[0] for word in word_list]

['A', 'M', 'H', 'C', 'B']

In [76]:
# Convert a list of temperatures from Celsius to Fahrenheit uing list comprehesnion

temp_list=[0,10,20,30,40,50]
[((9/5)*i+32) for i in temp_list]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [91]:
# Flatten a list of lists into a single list
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[j for i in lists for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
# Create a list of only the prime numbers from a given list
number = [1,2,3,4,5,6,7,8,9,10]
[i for i in number if i%1 == 0 or i%i == 0]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]