In [4]:
import numpy as np

### Numpy - Array Manipulation

In [5]:
ar1 = np.random.randint(1,10,(4,4))

In [6]:
ar1

array([[7, 6, 1, 9],
       [1, 2, 6, 3],
       [2, 9, 5, 9],
       [3, 7, 9, 9]])

* .flatten(): It Flattens multi-dimension array to single dimension array

In [7]:
ar1.flatten()

array([7, 6, 1, 9, 1, 2, 6, 3, 2, 9, 5, 9, 3, 7, 9, 9])

#### Conversion of Dimension
* np.expand_dims(): It upgrade the dimension to one level up.

In [11]:
np.expand_dims(ar1,axis=1)  #Column-wise

array([[[7, 6, 1, 9]],

       [[1, 2, 6, 3]],

       [[2, 9, 5, 9]],

       [[3, 7, 9, 9]]])

In [14]:
np.expand_dims(ar1,axis=0)  #Row-wise

array([[[7, 6, 1, 9],
        [1, 2, 6, 3],
        [2, 9, 5, 9],
        [3, 7, 9, 9]]])

In [17]:
s=[1,5,9]
np.expand_dims(s,axis=1)

array([[1],
       [5],
       [9]])

In [18]:
data = np.array([[1],[2],[3]])

* np.squeeze(): Converts a multidimensional array to 1-D Array.

In [23]:
data.shape

(3, 1)

In [21]:
np.squeeze(data)

array([1, 2, 3])

In [22]:
np.squeeze(data).shape

(3,)

* np.repeat(): Repeats each element based on the input

In [26]:
np.repeat(data,4)

array([1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3])

* **np.roll(): It roll the dataset based on the axis given.**

In [29]:
np.roll(data,3)

array([[1],
       [2],
       [3]])

* np.diag(): It Construct a diagonal array with given data.

In [30]:
np.diag(np.array([1,2,3,4]))

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

### Numpy - String Operation

In [32]:
arr = np.array(['gaurabh','chowdhury'])

In [33]:
arr

array(['Gaurabh', 'Chowdhury'], dtype='<U9')

* np.char(): It keeps a track of each element inside the array and perform the given operation.

In [34]:
np.char.upper(arr)

array(['GAURABH', 'CHOWDHURY'], dtype='<U9')

In [35]:
np.char.capitalize(arr)

array(['Gaurabh', 'Chowdhury'], dtype='<U9')

In [46]:
np.char.title(arr)

array(['Gaurabh', 'Chowdhury'], dtype='<U9')

### Numpy - Mathematical Operation

In [48]:
ar1

array([[7, 6, 1, 9],
       [1, 2, 6, 3],
       [2, 9, 5, 9],
       [3, 7, 9, 9]])

In [49]:
np.sin(ar1)

array([[ 0.6569866 , -0.2794155 ,  0.84147098,  0.41211849],
       [ 0.84147098,  0.90929743, -0.2794155 ,  0.14112001],
       [ 0.90929743,  0.41211849, -0.95892427,  0.41211849],
       [ 0.14112001,  0.6569866 ,  0.41211849,  0.41211849]])

In [50]:
np.sinc(ar1)

array([[ 3.89817183e-17, -3.89817183e-17,  3.89817183e-17,
         3.89817183e-17],
       [ 3.89817183e-17, -3.89817183e-17, -3.89817183e-17,
         3.89817183e-17],
       [-3.89817183e-17,  3.89817183e-17,  3.89817183e-17,
         3.89817183e-17],
       [ 3.89817183e-17,  3.89817183e-17,  3.89817183e-17,
         3.89817183e-17]])

In [52]:
np.power(ar1,2)

array([[49, 36,  1, 81],
       [ 1,  4, 36,  9],
       [ 4, 81, 25, 81],
       [ 9, 49, 81, 81]], dtype=int32)

In [53]:
np.mean(ar1)

5.5

In [54]:
np.median(ar1)

6.0

In [55]:
np.var(ar1)

9.0

In [56]:
np.std(ar1)

3.0